<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<nav>
    <a class="nav-brand" href="/">EXPRESS MOVIES</a>
    <a class="nav-link" href="/movies/search">Rechercher par titre</a>
</nav>