<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fiche descriptive du film <%= id %></title>
    <link rel="stylesheet" href="../public/styles.css"/>
</head>
<body>
    <%- include('includes/header') %>

    <h1>PAGE DE DETAIL DU FILM</h1>
    <div class="container">
        Voici les détails du film dont le numéro est : <%= id %>
    </div>
    <%- include('includes/footer') %>
</body>
</html>